<!DOCTYPE html>
<html>
<head>
  <title>CouponsCode</title>
  <%= stylesheet_link_tag    "coupons_code/application", media: "all" %>
  <%= javascript_include_tag "coupons_code/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
<%= yield %>
</div>
</body>
</html>
